.wrapper-inner {
  min-height: 100%;
  position: relative;
}
.wrapper-inner > div {
  min-height: 100vh;
}
.nav-sidebar {
  max-width: 290px;
}
.nav-sidebar-inner {
  background-color: var(--primary-clr);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding-top: 2rem;
  padding-left: 1.5rem;
}
.nav-sidebar-logo {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
.nav-sidebar-content {
  margin-top: 2rem;
  padding-top: 1rem;
  text-align: start;
}
.nav-sidebar-content .nav-links.has-logout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 130px);
}
.nav-sidebar-content .each-nav-link {
  line-height: 1.8;
  /* margin-bottom: 1rem; */
}
.each-nav-link .nav-link-item {
  color: var(--white);
  display: flex;
  align-items: center;
  width: 100%;
  transition: 280ms ease;
  border-radius: 5px;
  padding: 0.5rem 3rem 0.5rem 2rem;
}
.each-nav-link .nav-link-item:hover {
  background-color: var(--white);
  color: var(--primary-clr);
}
.nav-link-item span svg {
  width: 1.25rem;
}
.nav-link-item span:last-child {
  margin-left: 1rem;
}
/* page-content */
.page-content {
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: calc(100% - 290px);
}
.page-content-inner {
  padding: 1.5rem 2rem;
}
.page-content .topper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-content .topper .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-content
  .topper
  :is(.notify-user, button, .user-icon, .user-detail, .mobile-menu-toggler) {
  display: flex;
  align-items: center;
}
.user-icon .user-detail {
  flex-direction: column;
  align-items: flex-start !important;
}
.mobile-menu-toggler .mobile-logo {
  margin-left: 10px;
}
.page-content .mobile-menu-toggler button svg {
  height: 2rem !important;
  width: 2rem !important;
}
.page-content .topper .notify-user button {
  margin-right: 1rem;
  border: 1px solid var(--border);
  padding: 11px;
  border-radius: 6px;
}
.page-content .topper button svg {
  width: 1rem;
  height: 1rem;
}
.notify-user .user-icon .user-detail {
  margin-left: 10px;
}
.user-detail span:first-child {
  color: var(--black);
}
.user-detail span:last-child {
  color: var(--dark-grey);
  line-height: 1;
}

.page-content-body-inner {
  margin-top: 3.5rem;
  border-radius: 6px;
}

/* footer */
footer {
  background-color: var(--white);
  padding: 1rem 2rem;
}
footer .links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .links li a {
  color: var(--black);
}

@media all and (max-width: 600px) {
  .page-content .mobile-menu-toggler .mobile-logo img {
    width: 100px;
  }
  .page-content .topper {
    padding: 0;
  }
  .page-content-inner {
    padding: 0.9rem 0.7rem;
  }
  footer .links {
    display: block;
    margin-bottom: 2rem;
  }
  footer .links li {
    line-height: 18px;
    margin-bottom: 10px;
  }
}
