:root {
	--primary-clr: #ff4a00;
	--primary-clr-opa: rgb(255, 74, 0, 0.25);
	--form-footer-clr: #f1f1f1;
	--white: #fff;
	--black: #000;
	--form-bg: #202040;
	--input-bg: #fbfbfb;
	--border-clr: #ccc;
	--placeholder-clr: #8d9091;
	--grey: #222;
}
.wrapper {
	min-height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
	background-color: var(--input-bg);
}
.wrapper-inner .display-wrapper {
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2rem;
}

@media all and (min-width: 768px) {
	.wrapper-inner .display-wrapper {
		padding: 2rem 2rem 0;
	}
}
@media all and (min-width: 991px) {
	.wrapper-inner {
		width: 38%;
	}
}
@media all and (max-width: 990px) {
	.wrapper-inner {
		width: 60%;
	}
}

@media all and (max-width: 600px) {
	.wrapper {
		padding-bottom: 0;
	}
	.wrapper-inner {
		border: none;
		overflow: unset;
		width: 100%;
	}
}
/* password reset */
.back-to-login {
	display: flex;
	align-items: center;
	justify-content: center;
}
.back-to-login a {
	color: var(--black);
	display: flex;
	align-items: center;
	border: 2px solid var(--primary-clr);
	border-radius: 5px;
	padding: 0.8rem 1rem;
	background-color: var(--primary-clr);
}
.back-to-login a span {
	display: flex;
	line-height: 1;
	color: var(--white);
	font-weight: 600;
	letter-spacing: 0.3px;
}
.back-to-login a:hover {
	background-color: var(--white);
}
.back-to-login a:hover span {
	color: var(--primary-clr);
}
.back-to-login a span:first-child {
	margin-right: 0.3rem;
}
.back-to-login svg {
	height: 1.3rem;
	width: 2rem;
}
