:root {
	--primary-clr: #ff4a00;
	--white: #fff;
	--black: #000;
	--form-bg: #202040;
	--nav-card-bg: #fbfbfb;
	--ash: #666765;
	--border-clr: #ccc;
	--grey: #222;
	--yellow: #ffb503;
	--green: #62d493;
	--red: #ff4961;
	--dark: #202040;
	--light-blue: #e7f0fe;
}
