:root {
	--primary-clr: #ff4a00;
	--primary-light-clr: #ffede6;
	--light-lime: #ebfaf1;
	--lime: #62d493;
	--light-crimson: #ffe6eb;
	--crismson: #fe2c55;
	--border: #ccc;
	--card-border: 1px solid #e5e5e5;
	--grey: #999;
	--white: #fff;
	--bg-clr: #f5f5f5;
	--dark-grey: #666;
	--black: #000;
	--dark: #202040;
	--light-yellow: #fef7e6;
	--yellow: #faba23;
}

.cards-wrapper-inner {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem 1rem;
}
@media all and (max-width: 991px) {
	.cards-wrapper-inner {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem 1.5rem;
	}
}
@media all and (max-width: 658px) {
	.cards-wrapper-inner {
		grid-template-columns: 1fr;
		row-gap: 1.6rem;
	}
}
.cards-wrapper-inner .each-card {
	display: flex;
	align-items: center;
	min-height: 120px;
	border-radius: 7px;
	border: var(--card-border);
	padding: 0.8rem 1rem;
	background-color: var(--white);
}
.each-card .icon {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.each-card .icon em svg {
	width: 1.5rem;
}
.each-card:nth-child(1) .icon {
	background-color: var(--primary-light-clr);
}
.each-card.each-card:nth-child(1) .icon em {
	color: var(--primary-clr);
}
.each-card:nth-child(2) .icon {
	background-color: var(--light-lime);
}
.each-card.each-card:nth-child(2) .icon em {
	color: var(--lime);
}
.each-card:nth-child(3) .icon {
	background-color: var(--light-crimson);
}
.each-card.each-card:nth-child(3) .icon em {
	color: var(--crismson);
}
.each-card:nth-child(4) .icon {
	background-color: var(--light-yellow);
}
.each-card.each-card:nth-child(4) .icon em {
	color: var(--yellow);
}
.each-card .value {
	margin-left: 1rem;
}
.each-card .value span {
	font-size: 14px;
	color: var(--dark-grey);
}
.each-card .value h5 {
	font-weight: 600;
	color: var(--dark);
	font-size: 1.5rem;
}

/* chart wrapper */
.chart-wrapper {
	box-shadow: 0px 0px 33px 8px rgba(0, 0, 0, 0.1);
	min-height: 350px;
	width: 100%;
	background-color: var(--white);
	border-radius: 7px;
	margin: 6pc 0;
}
.chart-wrapper-inner {
	padding: 1rem;
}
.chart-wrapper-inner .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.chart-wrapper .title h4 {
	font-weight: 600;
	font-size: 1.6rem;
}
.chart-wrapper .dropdown {
	margin-left: 1rem;
}
.chart-wrapper .dropdown button {
	border-radius: 5px;
	border: 1px solid var(--border);
	padding: 8px 1.7rem;
	color: var(--dark);
	background-color: var(--bg-clr);
}
.chart-wrapper-inner .top :is(.title, .date-time button) {
	display: flex;
	align-items: center;
}
.date-time button {
	border: 1px solid var(--border);
	border-radius: 5px;
	padding: 5px 10px;
	background-color: var(--bg-clr);
}
.date-time button span {
	font-size: 14px;
	color: var(--dark);
}
.chart-wrapper .date-time input[type="date"] {
	border: none;
}
.chart-wrapper .date-time input[type="date"] {
	background-color: var(--bg-clr);
}
.chart-wrapper .date-time input[type="date"]::-webkit-datetime-edit {
	display: none;
}
.chart-wrapper .date-time input[type="date"]:focus {
	outline: none;
	border: none;
}
