:root {
	--primary-clr: #ff4a00;
	--primary-light-clr: #ffede6;
	--light-lime: #ebfaf1;
	--lime: #62d493;
	--light-crimson: #ffe6eb;
	--crismson: #fe2c55;
	--border: #ccc;
	--card-border: 1px solid #e5e5e5;
	--grey: #999;
	--white: #fff;
	--nav-card-bg: #fbfbfb;
	--bg-clr: #f5f5f5;
	--dark-grey: #666;
	--black: #000;
	--dark: #202040;
	--light-yellow: #fef7e6;
	--yellow: #faba23;
}

.button-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	overflow: hidden;
	border: 2px solid var(--primary-clr);
	width: max-content;
	margin-inline: auto;
	margin-top: 2rem;
	justify-content: space-between;
}

.button-wrapper .nav-item .nav-link {
	font-size: 14px;
	color: var(--primary-clr);
	padding: 0.6rem 1.4rem;
	white-space: nowrap;
	width: max-content;
	border-radius: 0;
}
.button-wrapper .nav-item .nav-link.active {
	background-color: var(--primary-clr);
	border-radius: 0;
	color: var(--white);
}
.cards-wrapper {
	column-gap: 3rem;
	margin: 4em auto 0;
	row-gap: 2.5rem !important;
}

.each-card {
	background-color: var(--nav-card-bg);
	-webkit-transition: 300ms ease-in-out;
	-moz-transition: 300ms ease-in-out;
	-ms-transition: 300ms ease-in-out;
	-o-transition: 300ms ease-in-out;
	transition: 300ms ease-in-out;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	min-width: 320px;
	position: relative;
	border-radius: 10px;
}

.each-card:hover {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	background-color: var(--primary-clr);
}

.each-card .each-card-inner {
	min-height: 520px;
	padding: 1.2rem;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	background-color: var(--nav-card-bg);
	-webkit-transition: 300ms ease-in-out;
	-moz-transition: 300ms ease-in-out;
	-ms-transition: 300ms ease-in-out;
	-o-transition: 300ms ease-in-out;
	transition: 300ms ease-in-out;
	border-radius: 9px;
}

.each-card:hover .each-card-inner {
	translate: 0 10px;
	border-radius: 8px;
	background-color: var(--white) !important;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.each-card .card-title h4 {
	font-weight: 600;
	color: var(--primary-clr);
	text-transform: uppercase;
	font-size: 1.35rem;
}

.each-card .price span {
	color: var(--grey);
	font-size: 14px;
}

.each-card .CAT button {
	border-radius: 5px;
	border: 2px solid var(--primary-clr);
	color: var(--primary-clr);
	padding: 8px 1.2rem;
	font-size: 14px;
	text-transform: uppercase;
}

.each-card .CAT button:hover {
	background-color: var(--primary-clr);
	color: var(--white);
}

.each-card-inner ul {
	margin-top: 2rem;
}

.each-card-inner ul li {
	display: flex;
	align-items: flex-start;
	min-height: 2rem;
	margin-bottom: 0.7rem;
}

.each-card-inner ul li em {
	color: var(--green);
	line-height: 1.88;
}

.each-card-inner ul li .text {
	padding-left: 10px;
}

.each-card-inner ul li .text span {
	color: var(--dark);
	font-size: 15px;
}
