:root {
	--bg: #f5f5f5;
	--primary-clr: #ff4a00;
	--white: #fff;
	--border: #ccc;
	--green-light: #62d493;
	--green-dark: #27cf70;
	--grey: #d2d2d2;
	--light-grey: #999;
	--dark-grey: #666;
	--black: #000;
}

.page-content-body-inner {
	margin-bottom: 5rem;
}
.page-content-body-inner .cards-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.8rem;
	row-gap: 2rem;
}
.cards-wrapper .each-card {
	min-width: 30%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 0.6rem 1rem;
	border-radius: 6px;
	background-color: var(--white);
}
.each-card .card-icon em {
	font-size: 1.35rem;
}
.each-card .value {
	margin-top: 1.4rem;
}
.each-card .value .amount h3 {
	font-size: 2rem;
}
.each-card .value .total-links {
	margin-top: 5px;
	font-size: 15px;
}

@media all and (max-width: 991px) {
	.page-content-body-inner .cards-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}
@media all and (max-width: 425px) {
	.page-content-body-inner .cards-wrapper {
		grid-template-columns: 1fr;
	}
}

.traffic-overview {
	margin-top: 3rem;
}
.traffic-overview-inner {
	min-height: 400px;
	border: 1px solid var(--border);
	background-color: var(--white);
	border-radius: 5px;
	padding: 1rem 1.5rem;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.overview-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 1rem;
}
.date-time input[type="date"] {
	border: none;
}
.date-time input[type="date"] {
	background-color: var(--white);
}
.date-time input[type="date"]::-webkit-datetime-edit {
	display: none;
}
.mobile-dropdown {
	border: 1px solid var(--border);
	padding: 6px;
	border-radius: 5px;
}
.mobile-dropdown-menu.show {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border: 1px solid var(--border);
	min-height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: 1rem;
}
.mobile-dropdown-menu button {
	column-gap: 10px;
	border: 1px solid var(--border);
	border-radius: 5px;
	padding: 6px 10px;
}
.mobile-dropdown svg {
	width: 1.5rem;
	height: 1.5rem;
}
.dropdown-toggle::after {
	display: none;
}
.date-time input[type="date"]:focus {
	outline: none;
	border: none;
}
.pc-view {
	border: 1px solid var(--border);
	border-radius: 5px;
	padding: 6px 10px;
	column-gap: 5px;
}
.traffic-overview h4.title {
	white-space: nowrap;
}
.traffic-overview .overview-header .right {
	width: -webkit-fill-available;
	width: fill-available;
	padding: 0 0 0 1rem;
}
.traffic-overview .right button.all-media {
	border: 1px solid var(--border);
	background-color: var(--bg);
	padding: 8px 1.1rem;
	border-radius: 6px;
	font-size: 14px;
}
@media all and (max-width: 768px) {
	.traffic-overview .overview-header .right {
		width: fit-content;
	}
}
