:root {
	--bg: #f5f5f5;
	--primary-clr: #ff4a00;
	--white: #fff;
	--border: #ccc;
	--green-light: #62d493;
	--green-dark: #27cf70;
	--grey: #d2d2d2;
	--light-grey: #999;
	--dark-grey: #666;
	--black: #000;
}

.page-content-body {
	padding-bottom: 3rem;
}
.page-content-body form #formFile {
	opacity: 0;
	visibility: hidden;
	display: none;
}
.page-content-body button.select-image {
	border: 2px dashed var(--light-grey);
	border-radius: 6px;
	height: 250px;
	width: calc(100% - 4px);
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.page-content-body .dropdowns {
	gap: 1rem;
}
.page-content-body .dropdown .dropdown-menu {
	width: 100%;
	margin-top: 0.3rem !important;
}
.page-content-body .dropdown button {
	background-color: var(--white);
	width: 100%;
	font-size: 0.9rem;
	border-radius: 6px;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 2rem;
	border: 1px solid var(--border);
}
.dropdown-item:hover {
	background-color: var(--primary-clr);
	color: var(--white);
}
button.select-image svg {
	width: 3.5rem;
	height: 3.5rem;
	color: var(--grey);
}
button.select-image span {
	font-size: 1.1rem;
	color: var(--grey);
}
.form-input {
	margin-top: 2rem;
}
.form-input textarea {
	min-height: 200px;
}
.form-input textarea:focus {
	border: 2px solid var(--primary-clr);
	box-shadow: none;
}

.page-content-body-inner form .submit-btn {
	margin-top: 2.5rem;
}
.submit-btn button {
	width: 100%;
	min-height: 2.3rem;
	padding: 0.3rem 0;
	background-color: var(--green-light);
	border-radius: 6px;
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-transition: 280ms ease;
	-moz-transition: 280ms ease;
	-ms-transition: 280ms ease;
	-o-transition: 280ms ease;
	transition: 280ms ease;
}
.submit-btn button:hover {
	background-color: var(--green-dark);
}
